* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .cards{
    background-color: rgb(179, 73, 108);
    border-radius: 20px;
    margin: 20px;
    padding: 20px;

  }
.nav{
  background-color: lightcoral;
  padding: 20px;
  margin: 5px;
}